<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.ajmasia.keyboardlayout.us-altgr-intl-no-dead-keys</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>US AltGr Intl No Dead Keys</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>KLInfo_US AltGr Intl No Dead Keys</key>
	<dict>
		<key>TISInputSourceID</key>
		<string>com.ajmasia.keyboardlayout.us-altgr-intl-no-dead-keys</string>
		<key>TISIntendedLanguage</key>
		<string>en</string>
		<key>TISIconIsTemplate</key>
		<true/>
	</dict>
</dict>
</plist>
